
@{
    ViewBag.Title = "Warning";
}

<h2>You do not belong to this Household.  If we detect that you continue to attempt to access information pertaining to Households that you do not belong to, your account privaleges will be terminated indefinitely.</h2><br /><br />
<div style="text-align: center">
    <i class="fa fa-warning" style="color: #d9534f; font-size: 300px"></i>
</div>
