
@{
    ViewBag.Title = "ConfirmationSent";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div style="max-width: 600px; margin: auto; margin-top: 150px">
    <h2>Thank you for confirming your email.</h2>
</div>

